[submodule "examples/pipelines/sklearn_regression_example"]
	path = examples/pipelines/sklearn_regression_example
	url = https://github.com/mlflow/mlp-regression-example.git
	branch = sunish-pipeline-2.0
