# Mlflow
mlruns/
mlartifacts/
outputs/
mlruns.db

# Mac
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
node_modules

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
env
env3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# Editor files
.*project
*.swp
*.swo
*.idea
*.vscode
*.iml
*~

# mkdocs documentation
/site

# mypy
.mypy_cache/

# java targets
target/

# R notebooks
.Rproj.user
example/tutorial/R/*.nb.html

# travis_wait command logs
travis_wait*.log

# Pytorch logs
lightning_logs

a.py

# Log file created by pre-commit hook for black
.black.log

# helm
charts/*/templates/charts/*.tgz
