[tool.black]
line-length = 100
target-version = ['py36']
force-exclude = '''
/(
  | mlflow/protos
  | tests/protos
)/
'''

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)8s] %(message)s (%(filename)s:%(lineno)s)"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"