[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "mlflow-skinny"
version = "2.13.0"
description = "MLflow is an open source platform for the complete machine learning lifecycle"
readme = "README.rst"
keywords = ["mlflow", "ai", "databricks"]
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Intended Audience :: End Users/Desktop",
  "Intended Audience :: Science/Research",
  "Intended Audience :: Information Technology",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
  "Topic :: Software Development :: Libraries :: Python Modules",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.8",
]
requires-python = ">=3.8"
dependencies = [
  "cachetools<6,>=5.0.0",
  "click<9,>=7.0",
  "cloudpickle<4",
  "entrypoints<1",
  "gitpython<4,>=3.1.9",
  "importlib_metadata<8,>=3.7.0,!=4.7.0",
  "opentelemetry-api<3,>=1.0.0",
  "opentelemetry-sdk<3,>=1.0.0",
  "packaging<25",
  "protobuf<5,>=3.12.0",
  "pytz<2025",
  "pyyaml<7,>=5.1",
  "requests<3,>=2.17.3",
  "sqlparse<1,>=0.4.0",
]
[[project.maintainers]]
name = "Databricks"
email = "mlflow-oss-maintainers@googlegroups.com "

[project.license]
file = "LICENSE.txt"

[project.optional-dependencies]
extras = [
  "pyarrow",
  "requests-auth-aws-sigv4",
  "boto3",
  "botocore",
  "google-cloud-storage>=1.30.0",
  "azureml-core>=1.2.0",
  "pysftp",
  "kubernetes",
  "mlserver>=1.2.0,!=1.3.1,<1.4.0",
  "mlserver-mlflow>=1.2.0,!=1.3.1,<1.4.0",
  "virtualenv",
  "prometheus-flask-exporter",
]
databricks = [
  "azure-storage-file-datalake>12",
  "google-cloud-storage>=1.30.0",
  "boto3>1",
  "botocore",
]
gateway = [
  "pydantic<3,>=1.0",
  "fastapi<1",
  "uvicorn[standard]<1",
  "watchfiles<1",
  "aiohttp<4",
  "boto3<2,>=1.28.56",
  "tiktoken<1",
  "slowapi<1,>=0.1.9",
]
genai = [
  "pydantic<3,>=1.0",
  "fastapi<1",
  "uvicorn[standard]<1",
  "watchfiles<1",
  "aiohttp<4",
  "boto3<2,>=1.28.56",
  "tiktoken<1",
  "slowapi<1,>=0.1.9",
]
sqlserver = ["mlflow-dbstore"]
aliyun-oss = ["aliyunstoreplugin"]
xethub = ["mlflow-xethub"]
jfrog = ["mlflow-jfrog-plugin"]

[project.urls]
homepage = "https://mlflow.org"
issues = "https://github.com/mlflow/mlflow/issues"
documentation = "https://mlflow.org/docs/latest/index.html"
repository = "https://github.com/mlflow/mlflow"

[project.scripts]
mlflow = "mlflow.cli:cli"

[project.entry-points."mlflow.app"]
basic-auth = "mlflow.server.auth:create_app"

[project.entry-points."mlflow.app.client"]
basic-auth = "mlflow.server.auth.client:AuthServiceClient"

[project.entry-points."mlflow.deployments"]
databricks = "mlflow.deployments.databricks"
http = "mlflow.deployments.mlflow"
https = "mlflow.deployments.mlflow"
openai = "mlflow.deployments.openai"

[tool.setuptools.package-data]
mlflow = [
  "store/db_migrations/alembic.ini",
  "temporary_db_migrations_for_pre_1_users/alembic.ini",
  "pypi_package_index.json",
  "pyspark/ml/log_model_allowlist.txt",
  "server/auth/basic_auth.ini",
  "server/auth/db/migrations/alembic.ini",
  "recipes/resources/**/*",
  "recipes/cards/templates/**/*",
]

[tool.setuptools.packages.find]
where = ["."]
include = ["mlflow", "mlflow.*"]
exclude = ["tests", "tests.*"]
