-r travis/small-requirements.txt
-r travis/large-requirements.txt
-r travis/flavors-requirements.txt
-r travis/sagemaker-requirements.txt
-r travis/tf-requirements.txt
-r travis/lint-requirements.txt
-r travis/docs-requirements.txt
