# Test reqs
azure-storage
google-cloud-storage
h2o
boto3
mock==2.0.0
moto
prospector[with_pyroma]==0.12.7
pep8==1.7.1
pyarrow
pylint==1.8.2
pyspark
pytest==3.2.1
pytest-cov==2.6.0
rstcheck==3.2
# TODO: Stop pinning the version of scikit-learn when the latest version of the
# library on Anaconda catches up to pip
scikit-learn==0.20.0
scipy
tensorflow
torch
torchvision
pysftp
keras
attrdict==2.0.0
azureml-sdk; python_version >= "3.0"
cloudpickle
pytest-localserver
