# Test reqs
azure-storage
google-cloud-storage
h2o
mock==2.0.0
moto
prospector[with_pyroma]==0.12.7
pep8==1.7.1
pyarrow
pylint==1.8.2
pyspark
pytest==3.2.1
pytest-cov
rstcheck==3.2
scipy
tensorflow
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp27-cp27mu-linux_x86_64.whl ; python_version == '2.7'
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl ; python_version == '3.6'