# Test reqs
google-cloud-storage
h2o
mock==2.0.0
moto
prospector[with_pyroma]==0.12.7
pep8==1.7.1
pyarrow
pylint==1.8.2
pyspark
pytest==3.2.1
pytest-cov
rstcheck==3.2
scipy
tensorflow
# Hack to install cpu version of pytorch ~90MB vs ~500MB with CUDA support but installs as `pip install torch`
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl