<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script defer src="{{ url_for('static', filename='fontawesome-all.min.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            {% block contents %}{% endblock %}
        </div>
    </body>
</html>