## This file describes extra ML library dependencies that you, as an end user,
## must install in order to use various MLflow Python modules.
##
# Required by mlflow.azureml
azureml-sdk==1.2.0
# Required by mlflow.keras
keras
# Required by mlflow.sklearn
scikit-learn
# Required by mlflow.gluon
# TODO: Unpin once https://github.com/apache/incubator-mxnet/issues/20068 is fixed
mxnet!=1.8.0
# Required by mlflow.fastai
fastai==1.0.60
# Required by mlflow.spacy
spacy
# Required by mlflow.tensorflow
tensorflow
# Required by mlflow.pytorch
torch
torchvision
pytorch_lightning>=1.0.2
# Required by mlflow.xgboost
xgboost>=0.82
# Required by mlflow.lightgbm
lightgbm
# Required by mlflow.catboost
catboost
# Required by mlflow.statsmodels
statsmodels
# Required by mlflow.h2o
h2o
# Required by mlflow.onnx
onnx
onnxruntime
# Required by mlflow.mleap, and in order to save SparkML models in
# mleap format via ``mlflow.spark.log_model``, ``mlflow.spark.save_model``
mleap
# Required by mlflow.spark
pyspark
# Required by mlflow.shap
shap
# Remove `ipython` once this issue: https://github.com/slundberg/shap/pull/1749 has been addressed
ipython
