# Large test reqs
botocore
moto
h2o
onnx
onnxmltools
onnxruntime
mleap==0.16.0
mxnet
pyarrow
pyspark
pytest
pytest-cov
scipy
spacy
tensorflow==1.15.2
tf2onnx
torch
torchvision
xgboost
lightgbm
# Install typing to fix torch on Python 2.7 (see https://github.com/pytorch/pytorch/issues/16775)
typing
pysftp
keras
attrdict
azureml-sdk==1.2.0; python_version >= "3.0"
pytest-localserver
kubernetes
fastai
matplotlib
# test plugin
tests/resources/mlflow-test-plugin/
