## Small test reqs
# Required
azure-storage-blob==12.3.0
# Required to log artifacts and models to GCS artifact locations
google-cloud-storage
# Required to log artifacts and models to AWS S3 artifact locations
botocore
boto3
# Required to log artifacts and models to HDFS artifact locations
pyarrow
# Required to log artifacts to SFTP artifact locations
pysftp
# Required to run the MLflow server against SQL-backed storage
sqlalchemy
# Required by the mlflow.projects module, when running projects against
# a remote Kubernetes cluster
kubernetes
## Test-only dependencies
attrdict
pytest==3.2.1
pytest-cov==2.6.0
pytest-localserver==0.5.0
scipy
moto
# Test plugin, used to verify correctness of MLflow plugin APIs
tests/resources/mlflow-test-plugin/
