## Small test reqs
scipy
## Test-only dependencies
attrdict==2.0.0
pytest==3.2.1
pytest-cov==2.6.0
pytest-localserver==0.5.0
moto
# Test plugin, used to verify correctness of MLflow plugin APIs
tests/resources/mlflow-test-plugin/
