## Small test reqs
# Required to log artifacts and models to HDFS artifact locations
pyarrow==0.17.0
# Required to log artifacts to SFTP artifact locations
pysftp==0.2.9
# Required to run the MLflow server against SQL-backed storage
sqlalchemy==1.3.0
# Required by the mlflow.projects module, when running projects against
# a remote Kubernetes cluster
kubernetes==9.0.0
## Test-only dependencies
attrdict==2.0.0
pytest==3.2.1
pytest-cov==2.6.0
pytest-localserver==0.5.0
scipy==1.2.1
moto==1.3.7
# Test plugin, used to verify correctness of MLflow plugin APIs
tests/resources/mlflow-test-plugin/
