{% extends 'markdown/index.md.j2' %}

{% block input %}
<NotebookCodeCell executionCount={ {{ "\" \"" if cell.execution_count is none else cell.execution_count }} }>
{`{{ cell.source}}`}
</NotebookCodeCell>{{ "\n" }}
{% endblock input %}

{%- block traceback_line -%}
<NotebookCellOutput isStderr>
{`{{ line.rstrip() | strip_ansi }}`}
</NotebookCellOutput>{{ "\n" }}
{%- endblock traceback_line -%}

{%- block stream -%}
<NotebookCellOutput {%- if output.name == "stderr" -%} {{ " isStderr" }} {%- endif %}>
{`{{ output.text.rstrip() }}`}
</NotebookCellOutput>{{ "\n" }}
{%- endblock stream -%}

{%- block data_text scoped -%}
<NotebookCellOutput>
{`{{ output.data['text/plain'].rstrip() }}`}
</NotebookCellOutput>{{ "\n" }}
{%- endblock data_text -%}

{%- block data_html scoped -%}
<NotebookHTMLOutput>
  <div dangerouslySetInnerHTML={% raw %}{{{% endraw %} __html: `{{ output.data['text/html'] | safe }}`{% raw %}}}{% endraw %} />
</NotebookHTMLOutput>{{ "\n" }}
{%- endblock data_html -%}

{%- block data_jpg scoped -%}
![](data:image/jpg;base64,{{ output.data['image/jpeg'] }})

{%- endblock data_jpg -%}

{%- block data_png scoped -%}
![](data:image/png;base64,{{ output.data['image/png'] }})

{%- endblock data_png -%}
