version: 2.1

jobs:
  build_doc_r:
    machine:
      image: ubuntu-2004:202111-01

    steps:
      - checkout
      - run:
          name: Build documentation
          command: |
            cd docs
            ./build-rdoc.sh

      - run:
          name: Check diff
          command: |
            set +e
            git add .
            PATCH_FILE="<< pipeline.git.revision >>.patch"
            git --no-pager diff --cached --exit-code > $PATCH_FILE
            failed=$?

            if [[ "$failed" == "1" ]]; then
              cat $PATCH_FILE
              MLFLOW_REPO_ID=$(curl -s -H "Accept: application/vnd.github.v3+json" https://api.github.com/repos/mlflow/mlflow | jq '.id')
              PATCH_FILE_URL="https://${CIRCLE_BUILD_NUM}-${MLFLOW_REPO_ID}-gh.circle-artifacts.com/0/${PATCH_FILE}"
              echo "========== Run the following commands to apply the diff above =========="
              echo "PATCH_FILE_URL=\"$PATCH_FILE_URL\""
              echo 'REDIRECTED_URL=$(curl -Ls -o /dev/null -w %{url_effective} $PATCH_FILE_URL)'
              echo 'curl -s $REDIRECTED_URL | git apply --verbose'
              echo "========================================================================"
            fi

            exit $failed

      - store_artifacts:
          path: << pipeline.git.revision >>.patch

  build_doc:
    docker:
      - image: circleci/python:3.6

    steps:
      - checkout
      - run:
          name: Install Java
          command: |
            sudo apt-get update --yes
            sudo apt-get install default-jdk --yes
            sudo apt-get install maven --yes
            java -version
      - run:
          name: Install Python dependencies
          command: |
            pip --version
            pip install --progress-bar off -r requirements/doc-requirements.txt .
      - run:
          name: Build documentation
          working_directory: docs
          environment:
            JAVA_HOME: /usr/lib/jvm/default-java
          command: |
            make rsthtml
            make javadocs
      - store_artifacts:
          path: docs/build/html

workflows:
  build:
    jobs:
      - build_doc
      - build_doc_r
