version: 2.1

orbs:
  win: circleci/windows@5.0.0

commands:
  fetch_merge_ref:
    description: "Fetch the merge ref for a pull request"
    steps:
      - run:
          name: Fetch merge ref
          command: |
            if [ -n "$CIRCLE_PULL_REQUEST" ]; then
              PR_NUMBER=$(basename "$CIRCLE_PULL_REQUEST")
              git fetch origin refs/pull/$PR_NUMBER/merge
              git checkout FETCH_HEAD
            fi

jobs:
  build_doc_r:
    machine:
      image: default

    steps:
      - checkout
      - fetch_merge_ref
      - run:
          name: Build documentation
          working_directory: docs/api_reference
          command: |
            ./build-rdoc.sh
            if [ -n "$(git status --porcelain)" ]; then
              echo "The following files have changed:"
              git status --porcelain
              exit 1
            fi

  # TODO: Add a job to build the python and java api reference
  build_doc:
    docker:
      - image: cimg/python:3.10-node
    resource_class: large

    steps:
      - checkout
      - fetch_merge_ref
      - run:
          name: Set env vars
          working_directory: docs
          command: |
            DOCS_BASE_URL="/output/job/$CIRCLE_WORKFLOW_JOB_ID/artifacts/0/docs/build/"
            echo "export DOCS_BASE_URL=$DOCS_BASE_URL" >> "$BASH_ENV"
            echo "export API_REFERENCE_PREFIX=https://output.circle-artifacts.com$DOCS_BASE_URL" >> "$BASH_ENV"
            echo "export GTM_ID=GTM-TEST" >> "$BASH_ENV"
      - run:
          name: Install Java
          command: |
            sudo apt-get update --yes
            sudo apt-get install default-jdk --yes
            sudo apt-get install maven --yes
            java -version
      - run:
          name: Install Pandoc
          command: |
            sudo apt-get install pandoc
      - run:
          name: Install Python dependencies
          command: |
            pip --version
            pip install --progress-bar off -r requirements/doc-requirements.txt pytest pytest-cov plotly
            pip install -e .[gateway]
          environment:
            PIP_EXTRA_INDEX_URL: https://download.pytorch.org/whl/cpu
      - run:
          name: Show package release dates
          command: |
            python dev/show_package_release_dates.py
      - run:
          name: Build documentation
          working_directory: docs
          environment:
            JAVA_HOME: /usr/lib/jvm/default-java
            PR_PREVIEW: "true"
          command: |
            yarn install
            yarn build-all -- --no-r
            python changed_pages.py
      - store_artifacts:
          path: docs/build/
      - run:
          name: Test examples
          working_directory: docs/api_reference
          command: |
            make test-examples

  # A job to get a free Windows VM for testing. See https://circleci.com/docs/ssh-access-jobs/ for how to set up SSH access.
  windows:
    executor:
      name: win/default
      size: "medium"

    steps:
      - checkout

workflows:
  build:
    jobs:
      - build_doc
      - build_doc_r
      - windows
