version: 2.1

orbs:
  win: circleci/windows@5.0.0

commands:
  fetch_merge_ref:
    description: "Fetch the merge ref for a pull request"
    steps:
      - run:
          name: Fetch merge ref
          command: |
            if [ -n "$CIRCLE_PR_NUMBER" ]; then
              git fetch origin refs/pull/$CIRCLE_PR_NUMBER/merge
              git checkout FETCH_HEAD
            fi

jobs:
  build_doc_r:
    machine:
      image: default

    steps:
      - checkout
      - fetch_merge_ref
      - run:
          name: Build documentation
          working_directory: docs
          command: |
            ./build-rdoc.sh
            if [ -n "$(git status --porcelain)" ]; then
              exit 1
            fi

  build_doc:
    docker:
      # Pin to 3.8.16 to avoid https://github.com/mlflow/mlflow/issues/8635
      - image: cimg/python:3.8.16

    steps:
      - checkout
      - fetch_merge_ref
      - run:
          name: Install Java
          command: |
            sudo apt-get update --yes
            sudo apt-get install default-jdk --yes
            sudo apt-get install maven --yes
            java -version
      - run:
          name: Install Pandoc
          command: |
            sudo apt-get install pandoc
      - run:
          name: Install Python dependencies
          command: |
            pip --version
            pip install --progress-bar off -r requirements/doc-requirements.txt pytest pytest-cov plotly .[gateway]
          environment:
            PIP_EXTRA_INDEX_URL: https://download.pytorch.org/whl/cpu
      - run:
          name: Build documentation
          working_directory: docs
          environment:
            JAVA_HOME: /usr/lib/jvm/default-java
          command: |
            make rsthtml
            make javadocs
            python changed_pages.py
      - run:
          name: Check for broken links
          working_directory: docs
          command: |
            python broken_links.py
      - run:
          name: Test examples
          working_directory: docs
          command: |
            make test-examples
      - store_artifacts:
          path: docs/build/html

  mlflow-recipes:
    docker:
      - image: cimg/python:3.8

    steps:
      - checkout
      - fetch_merge_ref
      - run:
          name: Pull submodule
          command: |
            git submodule update --init --recursive
      - run:
          name: Install dependencies
          command: |
            pip install -e .
            pip install nbconvert ipykernel
      - run:
          name: Run CLI
          working_directory: examples/recipes/regression
          environment:
            MLFLOW_RECIPES_PROFILE: local
          command: |
            mlflow recipes run
      - run:
          name: Run notebook
          working_directory: examples/recipes/regression
          environment:
            MLFLOW_RECIPES_PROFILE: local
          command: |
            jupyter nbconvert --to html --execute notebooks/jupyter.ipynb
            jupyter nbconvert --to html --execute notebooks/jupyter.ipynb --output dark-jupyter --HTMLExporter.theme=dark

      - store_artifacts:
          path: ~/.mlflow/recipes
      - store_artifacts:
          path: examples/recipes/regression/notebooks/jupyter.html
      - store_artifacts:
          path: examples/recipes/regression/notebooks/dark-jupyter.html

  # A job to get a free Windows VM for testing. See https://circleci.com/docs/ssh-access-jobs/ for how to set up SSH access.
  windows:
    executor:
      name: win/default
      size: "medium"

    steps:
      - checkout

workflows:
  build:
    jobs:
      - build_doc
      - build_doc_r
      - mlflow-recipes
      - windows
