# ----------------------
# PostgreSQL
# ----------------------
POSTGRES_USER=mlflow
POSTGRES_PASSWORD=mlflow
POSTGRES_DB=mlflow

# ----------------------
# S3 Credentials (used by S3-based storage backend)
# ----------------------
AWS_ACCESS_KEY_ID=s3admin
AWS_SECRET_ACCESS_KEY=s3admin
AWS_DEFAULT_REGION=us-east-1

# ----------------------
# RustFS configuration (set here for convenience)
# ----------------------
RUSTFS_CONSOLE_ENABLE=true

# Bucket (like original docker-compose)
S3_BUCKET=mlflow

# ----------------------
# MLflow
# ----------------------
MLFLOW_VERSION=latest
MLFLOW_HOST=0.0.0.0
MLFLOW_PORT=5000

MLFLOW_BACKEND_STORE_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
MLFLOW_ARTIFACTS_DESTINATION=s3://${S3_BUCKET}
MLFLOW_S3_ENDPOINT_URL=http://storage:9000