.artifact-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.artifact-right {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.artifact-right > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
