.experiment-list-outer-container {
  box-sizing: border-box;
  margin-left: 64px;
  width: 220px;
}

.experiment-list-container {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 90vh;
  margin-top: 8px;
}

.du-bois-light-tree-switcher {
  display: none;
}
