.experiment-list-outer-container {
  box-sizing: border-box;
  margin-left: 64px;
  width: 220px;
}

.experiment-list-container {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.active-experiment-list-item {
  background: rgba(67, 199, 234, 0.1);
  font-weight: bold;
}

.experiment-list-item {
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding-left: 12px;
}

.experiment-list-search-input {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 6px;
  margin-bottom: 8px;
}

input.experiment-list-search-input[type="text"]:focus{
  border-color: #258BD2;
  outline: none;
}

.experiments-header {
  font-weight: normal;
  display: inline-block;
  margin-bottom: 8px;
}

.experiments-checkbox {
  vertical-align: center;
  margin-right: 8px;
}

.collapser-container {
  display: inline-block;
  position: relative;
  top: -2px;
}

.collapser {
  display: inline-block;
  background-color: #082142d6;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
}

.experiment-list-create-btn-container {
  display: inline-block;
  position: relative;
  top: -2px;
}

.experiment-list-create-btn {
  width: 24px;
  height: 24px;
  line-height: inherit;
  color: #333333;
  background-color: #f5f5f5;
  border-color: #cccccc;
  border-radius: 4px;
  margin-left: 60px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}

.experiment-input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experiment-input-wrapper {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    line-height: normal;
    position: relative;
}

.experiment-link-checkbox-wrapper {
    font-family: "agGridBalham";
    font-size: 16px;
    line-height: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 16px;
    height: 16px;
    background-color: white;
    background-color: white;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    flex: none;
    cursor: default;
}

.experiment-link-checkbox-wrapper a {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: default;
}

.experiment-link-checkbox-wrapper::after {
    content: "\f108";
    color: #7f8c8d;
    color: #7f8c8d;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    cursor: default;
}

.experiment-link-checkbox-wrapper.checked::after {
    content: "\f106";
    color: #0091ea;
    color: #0091ea;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    cursor: default;
}

.experiment-link-checkbox-wrapper:focus-within, .experiment-link-checkbox-wrapper:active {
    outline: none;
    box-shadow: 0 0 2px 1px #719ECE;
}

.experiment-link-checkbox-wrapper.disabled {
    opacity: 0.5;
}