.note-view-outer-container {
  width: 100%;
  height: 90%;
}

div.btn-toolbar {
  width: 100%;
  height: 10%;
  padding-top: 16px;
}

div.btn-toolbar .btn {
  width: 100px;
}

div.btn-toolbar .btn+.btn {
  margin-left: 16px;
}

.mde-text {
  border: 2px solid #0092E1;
}

.note-editor-button-area .alert {
  margin-bottom: 0;
}

div.note-view-text-area {
  width: 100%;
  height: 90%;
}

.react-mde {
  width: 100%;
  height: 100%;
}