.run-uuid {
  margin-right: 5px;
}

.run-metadata-container {
  display: flex;
  padding-top: 16px;
}
.last-run-metadata-container {
  padding-bottom: 4px;
}

.run-metadata-label {
  display: inline-block;
  width: 500px;
  font-size: 16px;
  color: #888;
}

.run-metadata-row {
  flex: 1;
  display: inline-flex;
}

.run-metadata-item {
  flex: 1;
  padding-left: 8px;
  font-size: 16px;
}