.compare-table th.row-header {
  min-width: 120px;
}

.compare-table th.inter-title {
  padding: 20px 0 0;
  background: transparent;
}

.compare-table td.data-value,
.compare-table th.data-value {
  overflow: hidden;
  max-width: 120px;
  text-overflow: ellipsis;
}

.responsive-table-container {
  width: 100%;
  overflow-x: auto;
}
