.ExperimentView input[type=checkbox] {
  width: auto;
}

.ExperimentView th {
  background-color: #fafafa;
  color: #888888;
  font-weight: 500;
}

.ExperimentView td, .ExperimentView th {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.ExperimentView th.top-row {
  text-align: center;
  border-bottom: none;
  border-top: none;
}

.ExperimentView th.bottom-row {
  text-align: left;
  border-top: none;
}

.ExperimentView .left-border {
  border-left: 1px solid #e2e2e2;
}

.ExperimentView-run-buttons .btn {
  margin-left: 16px;
}

.ExperimentView-run-buttons .run-count {
  font-size: 14px;
  color: #888888;
}

.ExperimentView-evenRow {
  background-color: #bbbbbb;
}

.ExperimentView-evenRow:hover {
  background-color: #acacac;
}

.ExperimentView-oddRow:hover {
  background-color: #e1e1e1;
}

.ExperimentView-downloadCsv {
  float: right;
}

.ExperimentView-search-controls {
  margin-top: 30px;
}

.ExperimentView-run-buttons{
  margin-top: 30px;
  margin-bottom: 16px;
}

.ExperimentView-paramKeyFilter, .ExperimentView-metricKeyFilter {
  display: inline-block;
  width: 50%;
  min-width: 210px;
  margin-top: 16px;
}

.ExperimentView-search {
  display: table;
  width: 100%;
}

.ExperimentView-search-input {
  display: table-cell;
  width: auto;
}

.ExperimentView-lifecycle-input {
  display: table-cell;
  width: 100px;
}

.ExperimentView-lifecycle-button {
  width: 100px;
}

.ExperimentView-paramKeyFilter, .ExperimentView-metricKeyFilter, .ExperimentView-search-input, .ExperimentView-lifecycle-input {
  padding-right: 16px;
}

.ExperimentView-search-buttons {
  float: right;
  width: 100px;
}

.ExperimentView-search-buttons .btn {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.ExperimentView-search-inputs {
  margin-right: 104px;
}

.ExperimentView-search-controls .filter-label {
  width: 110px;
  float: left;
  margin-top: 6px;
}

.ExperimentView-search-controls .filter-wrapper {
  margin-left: 110px;
}

.ExperimentView-search-controls input {
  width: 100%;
}

.search-button {
  margin-right: 30px;
}

div.error-message {
  margin-left: 100px;
  /*width: auto;*/
}
span.error-message {
  color: red;
}

.metric-filler-bg {
  position: relative;
}

.metric-filler-fg {
  background-color: #def1ff;
  position: absolute;
  left: -3px;
  top: -1px;
  height: 22px;
}

.metric-text {
  position: relative;
}

.ExperimentView th.sortable {
  white-space: nowrap;
  cursor: pointer;

  /* Prevent double click text select */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.ExperimentView th.sortable::after {
  content: " ";
  font-size: 0;
  display: inline-block;
  margin: 0 0 0 4px;
  border-style: solid;
  border-color: transparent;
  border-width: 0 5px 8.7px 5px;
}

.ExperimentView th.sorted.asc::after {
  border-color: transparent transparent #888 transparent;
  border-width: 0 5px 8.7px 5px;
}

.ExperimentView th.sorted.desc::after {
  border-color: #888 transparent transparent transparent;
  border-width: 8.7px 5px 0 5px;
}
