.outer-container {
  display: flex;
}
.HomePage-experiment-list-container {
  flex: 0 0 312px;
}
.experiment-view-container {
  flex: 1 1;
  margin: 0 64px 0 32px;
}


/* BEGIN css for when experiment list collapsed */
.experiment-page-container {
  width: 100%;
  margin: 0 64px 0 32px;
}
.collapsed-expander-container {
  float: left;
}

.expander {
  display: inline-block;
  background-color: #082142d6;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
}
/* END css for when experiment list collapsed */
