div.MetricView {
    display: block;
    max-width: 1200px;
    max-height: 10%;
}

div.MetricView h1 {
    margin-bottom: 24px;
}


div.MetricView .recharts-tooltip-item-name {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: bottom;
}

div.MetricView .recharts-tooltip-item-value, .recharts-tooltip-item-separator {
    display: inline-block;
    margin-left: 4px;
}
