.note-view-outer-container {
  width: 100%;
  height: 90%;
}

.note-view-outer-container div.submit-button {
  width: 100%;
  height: 10%;
}

.note-view-outer-container div.note-view-text-area {
  width: 100%;
  height: 90%;
}

.note-view-outer-container .react-mde {
  width: 100%;
  height: 100%;
}

.note-view-preview {
  border: solid 1px #c8ccd0;
  border-radius: 2px;
}
.note-view-preview-content {
  width: 100%;
  min-height: 200px;
  padding: 10px;
}