__generated__
/.*
/build
/public
/scripts
/oss
/coverage
**/OWNERS
/I18nCompileLoader
/yarn
/src/i18n/default
/src/i18n/lang
/src/data-profiles/sample-data
/src/experiment-tracking/components/run-page/artifact-fixtures
/vendor
/tsconfig.json

*.md
*.css
*.html
*.gql
