__generated__
/.*
/build
/public
/scripts
/oss
/coverage
**/OWNERS
/I18nCompileLoader
/yarn
/src/lang
/src/data-profiles/sample-data
/src/experiment-tracking/components/run-page/artifact-fixtures
/src/graphql/generated_graphql.ts
/vendor
/tsconfig.json

*.md
*.css
*.html
*.gql
