# Large test reqs
azure-storage==0.36.0
google-cloud-storage==1.14.0
botocore==1.12.84
boto3==1.9.84
mock==2.0.0
moto==1.3.7
h2o==3.22.1.4
mock==2.0.0
onnx==1.4.1; python_version >= "3.0"
onnxmltools==1.4.0; python_version >= "3.0"
onnxruntime==0.3.0; python_version >= "3.0"
mleap==0.8.1
pandas<=0.23.4
pyarrow==0.12.1
pyspark==2.4.0
pytest==3.2.1
pytest-cov==2.6.0
scikit-learn==0.20.2
scipy==1.2.1
tensorflow==1.14.0
torch==1.0.1
torchvision==0.2.2
# Install typing to fix torch on Python 2.7 (see https://github.com/pytorch/pytorch/issues/16775)
typing==3.6.6
pysftp==0.2.9
keras==2.3.1
attrdict==2.0.0
azureml-sdk==1.0.17; python_version >= "3.0"
cloudpickle==0.8.0
pytest-localserver==0.5.0
sqlalchemy==1.3.0
kubernetes==9.0.0
# test plugin
tests/resources/mlflow-test-plugin/
