.link {
  color: rgb(255 255 255 / 80%);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.link:visited {
  color: rgb(255 255 255 / 80%);
}
