-r doc-min-requirements.txt
tensorflow-cpu<=2.12.0
pyspark
datasets
# nbsphinx and ipython are required for jupyter notebook rendering
nbsphinx==0.8.8
# ipython 8.7.0 is an incompatible release
ipython!=8.7.0
keras
torch>=1.11.0
torchvision>=0.12.0
lightning>=1.8.1
scrapy
ipywidgets>=8.1.1
