# sphinx >= 4.0.0 is incompatible with our custom CSS styles and renders the documents improperly.
# See https://github.com/mlflow/mlflow/pull/4480
sphinx==3.5.4
jinja2==3.0.3
# to be compatible with jinja2==3.0.3
flask<=2.2.5
sphinx-autobuild
sphinx-click
# to be compatible with docutils==0.16
sphinx-tabs==3.2.0
# redirect handling
sphinx-reredirects==0.1.3
