-r doc-min-requirements.txt
tensorflow-cpu<=2.12.0; platform_system!="Darwin" or platform_machine!="arm64"
tensorflow-macos<=2.12.0; platform_system=="Darwin" and platform_machine=="arm64"
pyspark
datasets
# nbsphinx and ipython are required for jupyter notebook rendering
nbsphinx==0.8.8
# ipython 8.7.0 is an incompatible release
ipython!=8.7.0
keras
torch>=1.11.0
torchvision>=0.12.0
lightning>=1.8.1
scrapy
ipywidgets>=8.1.1
# incremental==24.7.0 requires setuptools>=61.0, which causes https://github.com/mlflow/mlflow/issues/8635
incremental<24.7.0
# this is an extra dependency for the auth app which
# is not included in the core mlflow requirements
Flask-WTF<2
# required for testing polars dataset integration
polars>=1
# required for the genai evaluation example
openai
# required for the haystack
haystack-ai
