## This file describes extra ML library dependencies that you, as an end user,
## must install in order to use various MLflow Python modules.
##
# Required by mlflow.gluon
# TODO: Unpin once https://github.com/apache/incubator-mxnet/issues/20068 is fixed
mxnet!=1.8.0
# Required by mlflow.fastai
fastai>=2.4.1
# Required by mlflow.spacy
spacy>=3.3.0
# Required by mlflow.tensorflow
tensorflow>=2.8.0
# Required by mlflow.pytorch
torch>=1.11.0
torchvision>=0.12.0
pytorch_lightning>=1.5.10
# Required by mlflow.xgboost
xgboost>=0.82
# Required by mlflow.lightgbm
lightgbm
# Required by mlflow.catboost
catboost
# Required by mlflow.statsmodels
statsmodels
# Required by mlflow.h2o
h2o
# Required by mlflow.onnx
onnx>=1.11.0
onnxruntime
tf2onnx
# Required by mlflow.spark
pyspark
# Required by mlflow.paddle
paddlepaddle
# Required by mlflow.prophet
# NOTE: Prophet's whl build process will fail with dependencies not being present.
#   Installation will default to setup.py in order to install correctly.
#   To install in dev environment, ensure that gcc>=8 is installed to allow pystan
#   to compile the model binaries. See: https://gcc.gnu.org/install/
prophet
# Required by mlflow.pmdarima
pmdarima
# Required by mlflow.diviner
diviner
# Required by mlflow.transformers
transformers
