pylint==2.14.4
rstcheck==6.1.1
black[jupyter]==23.1.0
# Use harupy's fork until https://github.com/adamchainz/blacken-docs/issues/214 is resolved
# to format code in test-code-blocks
blacken-docs@git+https://github.com/harupy/blacken-docs.git@test-code-block
pre-commit==2.20.0
