## Dependencies required to run tests
# Required for testing utilities for parsing pip requirements
pip>=20.1
## Test-only dependencies
pytest==8.1.0
pytest-cov
pytest-timeout
pytest-localserver==0.5.0
moto>=4.2.0,<5,!=4.2.5
azure-storage-blob>=12.0.0
azure-storage-file-datalake>=12.9.1
azure-identity>=1.6.1
pillow
plotly
kaleido
# Required by tuning tests
hyperopt
# Required by recipes tests
ipython
# Required by automl tests
flaml[automl]
# Required by transformers tests
# Note: other requirements for transformers are defined in cross-version-tests.yml
# they are not installed here due to their size and stability implications for other test suites
huggingface_hub
# Pinned due to protobuf requirement pinning in 1.3.0 of ml-server that is incompatible
# 1.4.0 does not support pydantic v2 https://github.com/SeldonIO/MLServer/pull/1595
mlserver>=1.2.0,!=1.3.1,<1.4.0
mlserver-mlflow>=1.2.0,!=1.3.1,<1.4.0
# Required by evaluator tests
shap
# Required to evaluate language models in `mlflow.evaluate`
evaluate
nltk
rouge_score
textstat
tiktoken
# Required by progress bar tests
ipywidgets
tqdm
databricks-sdk
# Required for LLM eval in `mlflow.evaluate`
# TODO: Unpin once we support openai 1.0
openai<1.0
# Required for showing pytest stats
psutil
# SQLAlchemy == 2.0.25 requires typing_extensions >= 4.6.0
typing_extensions>=4.6.0
# Required for importing boto3 ClientError directly for testing
botocore>=1.34
pyspark

