## Dependencies required to run tests
## Test-only dependencies
pytest
pytest-asyncio
pytest-repeat
pytest-cov
pytest-timeout
moto>=4.2.0,<5,!=4.2.5
azure-storage-blob>=12.0.0
azure-storage-file-datalake>=12.9.1
azure-identity>=1.6.1
pillow
plotly
kaleido
# Required by evaluator tests
shap
# Required to evaluate language models in `mlflow.evaluate`
evaluate
nltk
rouge_score
textstat
tiktoken
# Required by progress bar tests
tqdm[notebook]
# Required for LLM eval in `mlflow.evaluate`
openai
# Required for showing pytest stats
psutil
pyspark
# Required for testing the opentelemetry exporter of tracing
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
# Required for testing mlflow.server.auth
Flask-WTF<2
# required for testing polars dataset integration
polars>=1
# required for testing mlflow.genai.optimize_prompt
dspy
# required for testing mlflow.genai.optimize.optimizers
gepa
# required for testing mlflow.server.jobs
huey<3,>=2.5.0
