## Dependencies required to run tests
# Required for testing utilities for parsing pip requirements
pip>=20.1
## Test-only dependencies
pytest==8.1.1
pytest-asyncio
pytest-repeat
pytest-cov
pytest-timeout
pytest-localserver==0.5.0
moto>=4.2.0,<5,!=4.2.5
azure-storage-blob>=12.0.0
azure-storage-file-datalake>=12.9.1
azure-identity>=1.6.1
pillow
plotly
kaleido
# Required by tuning tests
hyperopt
# Required by recipes tests
ipython
# Required by automl tests
flaml[automl]
# Required by evaluator tests
shap
# Required to evaluate language models in `mlflow.evaluate`
evaluate
nltk
rouge_score
textstat
tiktoken
# Required by progress bar tests
ipywidgets
tqdm
# Required for LLM eval in `mlflow.evaluate`
openai
# Required for showing pytest stats
psutil
# SQLAlchemy == 2.0.25 requires typing_extensions >= 4.6.0
typing_extensions>=4.6.0
# Required for importing boto3 ClientError directly for testing
botocore>=1.34
pyspark
polars>=1
# Required for testing the opentelemetry exporter of tracing
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
# TODO: remove this once XGBoost releases >2.1.3
scikit-learn<1.6
# Required for testing mlflow.server.auth
Flask-WTF<2
