# Cancel workflow runs associated with a pull request when it is closed or merged.
name: Cancel

on:
  pull_request_target:
    types:
      - closed

permissions:
  contents: read

jobs:
  cancel:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      actions: write # to cancel workflow runs
    steps:
      - uses: actions/checkout@v4
      - uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const script = require(
              `${process.env.GITHUB_WORKSPACE}/.github/workflows/cancel.js`
            );
            await script({ context, github });
