# Cancel workflow runs associated with a pull request when it is closed or merged.
name: Cancel

on:
  pull_request_target:
    types:
      - closed

defaults:
  run:
    shell: bash

jobs:
  cancel:
    runs-on: ubuntu-slim
    timeout-minutes: 5
    permissions:
      actions: write # to cancel workflow runs
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            .github
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require(
              `${process.env.GITHUB_WORKSPACE}/.github/workflows/cancel.js`
            );
            await script({ context, github });
