name: Closing PR

on:
  pull_request_target:
    types:
      - opened
      - edited

defaults:
  run:
    shell: bash --noprofile --norc -exo pipefail {0}

permissions:
  contents: read

jobs:
  closing-pr:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      pull-requests: read # closing-pr.js reads the PR body
      issues: write # closing-pr.js labels issues
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/github-script@v7
        with:
          script: |
            const script = require(
              `${process.env.GITHUB_WORKSPACE}/.github/workflows/closing-pr.js`
            );
            script({ context, github });
