name: Cross version test runner
on:
  issue_comment:
    types: [created]

defaults:
  run:
    shell: bash --noprofile --norc -exo pipefail {0}

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: ${{ github.event.issue.pull_request && startsWith(github.event.comment.body, '/cvt') }}
    permissions:
      pull-requests: write
      actions: write
    steps:
      - uses: ./.github/actions/checkout
        with:
          sparse-checkout: |
            .github
      - uses: ./.github/actions/validate-author
      - uses: ./.github/actions/github-script
        id: get-ref
        with:
          result-encoding: string
          script: |
            const runner = require('./.github/workflows/cross-version-test-runner.js');
            await runner.main({ context, github });
