name: docs

on:
  push:
    paths:
      - docs/**
      - .github/workflows/docs.yml
    branches:
      - master
      - branch-[0-9]+.[0-9]+
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - docs/**
      - .github/workflows/docs.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    permissions:
      contents: read
    timeout-minutes: 30
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: docs
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/setup-node
      - name: Install dependencies
        run: |
          yarn install --immutable
      - name: Run lint
        run: |
          yarn eslint
      - name: Run prettier
        run: |
          yarn prettier:check
      - name: Build docs
        run: |
          yarn build
      - name: Upload build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: website-build-${{ github.run_id }}
          path: build
          retention-days: 1
          if-no-files-found: error
