name: Generate Custom Ubuntu Latest Image

on:
  push:
    branches:
      - master
    paths:
      - ".github/workflows/generate-ubuntu-latest-custom.yml"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/generate-ubuntu-latest-custom.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: generate-ubuntu-latest-custom
    snapshot: ubuntu-latest-custom
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Free up disk space
        run: |
          df -h
          sudo rm -rf /usr/local/lib/android
          df -h
