name: Label Community PR

on:
  pull_request_target:
    types:
      - opened

jobs:
  label:
    runs-on: ubuntu-slim
    timeout-minutes: 10
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            .github
      - uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            const script = require('./.github/workflows/label-community-pr.js');
            await script({ context, github });
