name: Labeling

on:
  issues:
    types:
      - opened
      - edited
  pull_request_target:
    types:
      - opened
      - edited
      - ready_for_review

defaults:
  run:
    shell: bash

jobs:
  labeling:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-slim
    permissions:
      pull-requests: write
      issues: write
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            .github
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require('./.github/workflows/labeling.js');
            await script({ github, context });
