name: Lint

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  push:
    branches:
      - master
      - branch-[0-9]+.[0-9]+
  merge_group:
    types:
      - checks_requested

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  PIP_EXTRA_INDEX_URL: https://download.pytorch.org/whl/cpu
  PIP_CONSTRAINT: ${{ github.workspace }}/requirements/constraints.txt

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    permissions:
      contents: read
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    name: ${{ matrix.os == 'ubuntu-latest' && 'lint' || 'lint-macos' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          # To ensure `git diff` works correctly in dev/check_function_signatures.py,
          # we need to fetch enough history to include the base branch.
          fetch-depth: 300
      - uses: ./.github/actions/untracked
      - uses: ./.github/actions/setup-python
        id: setup-python
      - name: Add problem matchers
        if: matrix.os == 'ubuntu-latest'
        run: |
          echo "::add-matcher::.github/workflows/matchers/clint.json"
          echo "::add-matcher::.github/workflows/matchers/format.json"
          echo "::add-matcher::.github/workflows/matchers/ruff.json"
          echo "::add-matcher::.github/workflows/matchers/typos.json"
      - name: Install dependencies
        run: |
          uv sync --locked --only-group lint --only-group test
      - name: Install pre-commit hooks
        run: |
          uv run --only-group lint pre-commit install --install-hooks
          uv run --only-group lint pre-commit run install-bin -a -v
      - name: Run pre-commit
        id: pre-commit
        env:
          IS_MAINTAINER: ${{ contains(fromJSON('["OWNER", "MEMBER", "COLLABORATOR"]'), github.event.pull_request.author_association )}}
          NO_FIX: "true"
        run: |
          uv run --only-group lint pre-commit run --all-files

      - name: Test clint
        run: |
          uv run --only-group test pytest dev/clint

      - name: Check function signatures
        if: matrix.os == 'ubuntu-latest'
        run: |
          uv run --no-project dev/check_function_signatures.py
