name: Maintainer approval

on:
  pull_request_target:

defaults:
  run:
    shell: bash

jobs:
  check:
    runs-on: ubuntu-slim
    timeout-minutes: 5
    permissions:
      pull-requests: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            .github
      - name: Fail without core maintainer approval
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require(`${process.env.GITHUB_WORKSPACE}/.github/workflows/require-core-maintainer-approval.js`);
            await script({ context, github, core });
