name: Preview docs

on:
  pull_request_target:

permissions:
  contents: read

jobs:
  main:
    if: github.repository == 'mlflow/mlflow'
    runs-on: ubuntu-latest
    permissions:
      statuses: read # preview_docs.py checks PR statuses
      pull-requests: write # preview_docs.py comments on PRs
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          pip install requests
      - name: Create preview link
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          python dev/preview_docs.py \
            --commit-sha ${{ github.event.pull_request.head.sha }} \
            --pull-number ${{ github.event.pull_request.number }} \
            --workflow-run-id ${{ github.run_id }}
