name: protobuf cross tests

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    paths:
      - "mlflow/protos/**"
      - .github/workflows/protobuf-cross-test.yml
  push:
    branches:
      - master
      - branch-[0-9]+.[0-9]+
    paths:
      - "mlflow/protos/**"
      - .github/workflows/protobuf-cross-test.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

# Use `bash` by default for all `run` steps in this workflow:
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#defaultsrun
defaults:
  run:
    shell: bash

env:
  MLFLOW_HOME: ${{ github.workspace }}
  # Note miniconda is pre-installed in the virtual environments for GitHub Actions:
  # https://github.com/actions/virtual-environments/blob/main/images/linux/scripts/installers/miniconda.sh
  MLFLOW_CONDA_HOME: /usr/share/miniconda
  SPARK_LOCAL_IP: localhost
  PYTHONUTF8: "1"
  PIP_CONSTRAINT: ${{ github.workspace }}/requirements/constraints.txt

jobs:
  core_tests:
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 120
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        group: [1, 2]
        protobuf_major_version: [3, 4, 5]
        include:
          - splits: 2
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/untracked
      - uses: ./.github/actions/free-disk-space
      - uses: ./.github/actions/setup-python
      - uses: ./.github/actions/setup-pyenv
      - uses: ./.github/actions/setup-java
      - name: Install dependencies
        run: |
          pip install -U pip setuptools wheel
          pip install tests/resources/mlflow-test-plugin
          pip install .[extras,genai,mcp]
          pip install pyspark
          # Install Hugging Face datasets to test Hugging Face usage with MLflow dataset tracking
          pip install datasets
          # Install TensorFlow to test TensorFlow dataset usage with MLflow dataset tracking
          # tensorflow >= 2.22.0 are incompatible with protobuf < 5
          pip install 'tensorflow<2.22.0' 'tf-keras<2.20.0'
          # Install torch and transformers to test metrics
          pip install torch transformers
          pip install -r requirements/test-requirements.txt
          # Test the latest minor version in protobuf_major_version
          pip install "protobuf==${{ matrix.protobuf_major_version }}.*"
      - uses: ./.github/actions/show-versions
      - uses: ./.github/actions/pipdeptree
      - name: Run tests
        run: |
          pytest --splits=${{ matrix.splits }} --group=${{ matrix.group }} \
            --ignore-flavors \
            --ignore=tests/projects \
            --ignore=tests/examples \
            --ignore=tests/evaluate \
            --ignore=tests/optuna \
            --ignore=tests/pyspark/optuna \
            --ignore=tests/genai \
            --ignore=tests/telemetry \
            --ignore=tests/gateway \
            tests
