name: Protect

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  protect:
    # This job prevents accidental auto-merging of PRs when jobs that are conditionally
    # triggered (for example, those defined in `cross-version-tests.yml`) are either still
    # in the process of running or have resulted in failures.
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: |
            .github
      - uses: actions/github-script@v7
        with:
          script: |
            const script = require('./.github/workflows/protect.js');
            await script({ github, context });
