name: Stale

on:
  schedule:
    - cron: "0 0 * * *" # Run daily at midnight UTC
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  stale:
    if: github.repository == 'mlflow/mlflow'
    runs-on: ubuntu-slim
    permissions:
      issues: write
    timeout-minutes: 10
    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          days-before-stale: 365
          days-before-close: 14
          days-before-pr-stale: -1
          days-before-pr-close: -1
          stale-issue-label: stale
          exempt-issue-labels: security,bug,enhancement
          operations-per-run: 100
