name: Stale PRs

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  stale-prs:
    if: github.repository == 'mlflow/mlflow'
    runs-on: ubuntu-slim
    permissions:
      pull-requests: write
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: |
            .github
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require(".github/workflows/stale-prs.js");
            await script({ context, github });
