name: Team review

on:
  pull_request_target:
    types:
      - labeled

jobs:
  review:
    runs-on: ubuntu-latest
    # Our GitHub Plan doesn't support team pull request reviewers. Use the `team-review` label to trigger this workflow.
    if: ${{ github.event.label.name == 'team-review' }}
    timeout-minutes: 5
    permissions:
      pull-requests: write
    steps:
      - uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        with:
          script: |
            const { owner, repo } = context.repo;
            const pull_number = context.payload.pull_request.number;
            const members = [
              "B-Step62",
              "BenWilson2",
              "daniellok-db",
              "harupy",
              "serena-ruan",
              "TomeHirata",
              "WeichenXu123",
              "xq-yin",
              "kevin-lyn",
            ];
            const author = context.payload.pull_request.user.login;
            const reviews = await github.rest.pulls.listReviews({
              owner,
              repo,
              pull_number,
            });
            const approved = reviews.data
              .filter((r) => r.state === "APPROVED")
              .map((r) => r.user.login);
            await github.rest.pulls.requestReviewers({
              owner,
              repo,
              pull_number,
              reviewers: members.filter((m) => !approved.includes(m) && m !== author),
            });
