name: Team review

on:
  pull_request_target:
    types:
      - labeled

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  review:
    runs-on: ubuntu-slim
    if: ${{ github.event.label.name == 'team-review' }}
    timeout-minutes: 5
    permissions:
      pull-requests: write
      issues: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          sparse-checkout: .github/scripts

      - name: Select reviewers
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const script = require('./.github/scripts/select-reviewers.js');
            await script({ github, context });
