name: TypeScript SDK

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  push:
    branches:
      - master
      - branch-[0-9]+.[0-9]+

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  typescript-sdk:
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    permissions:
      contents: read
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        node-version: [20, 22, 24]
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: libs/typescript
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ./.github/actions/untracked
      - uses: ./.github/actions/setup-python # Required for running a tracking server
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: libs/typescript/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Run format check
        run: npm run format:check

      - name: Run linting
        run: npm run lint

      - name: Run build
        run: npm run build

      - name: Run core tests
        run: npm run test:core

      - name: Run tests for integrations
        run: npm run test:integrations
